<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>A♭</string>
	<string>B♭m</string>
	<string>Cm</string>
	<string>D♭</string>
	<string>E♭</string>
	<string>Fm</string>
	<string>Gm7-5</string>
	<string>A♭7</string>
	<string>B♭7</string>
	<string>C7</string>
	<string>A♭</string>
	<string>A♭b</string>
	<string>A♭c</string>
	<string>A♭maj7</string>
	<string>A♭maj7b</string>
	<string>A♭onC</string>
	<string>A♭m</string>
	<string>A♭mb</string>
	<string>A♭m7f</string>
	<string>A♭me</string>
	<string>A♭m7</string>
	<string>A♭m7onG♭</string>
	<string>A♭7</string>
	<string>A♭7b</string>
	<string>A♭7c</string>
	<string>A♭7(9)</string>
	<string>A♭7(9)b</string>
	<string>A♭7(#9)</string>
	<string>A♭7(♭9)</string>
	<string>A♭7(13)</string>
	<string>A♭7(♭13)</string>
	<string>A♭7(9,13)</string>
	<string>A♭7(9,♭13)b</string>
	<string>A♭7(#9,♭13)b</string>
	<string>A♭7(♭9,13)b</string>
	<string>A♭7(♭9,♭13)b</string>
	<string>A♭m7-5</string>
	<string>A♭m7-5b</string>
	<string>A♭6</string>
	<string>A♭6c</string>
	<string>A♭m6</string>
	<string>A♭m6f</string>
	<string>A♭m6e</string>
	<string>A♭mmaj7</string>
	<string>A♭mmaj7b</string>
	<string>A♭mmaj7e</string>
	<string>A♭dim</string>
	<string>A♭aug</string>
	<string>A♭sus4</string>
	<string>A♭7sus4</string>
	<string>A♭add9</string>
	<string>A♭add9b</string>
	<string>A♭maj7</string>
	<string>B♭m7</string>
	<string>Cm7</string>
	<string>D♭maj7</string>
	<string>E♭7</string>
	<string>Fm7</string>
	<string>A♭sus4</string>
	<string>D♭7</string>
	<string>F7</string>
	<string>G7</string>
	<string>A♭maj7c</string>
	<string>A♭maj7e</string>
	<string>A♭maj7f</string>
	<string>A♭maj7k</string>
	<string>A♭maj7(9)</string>
	<string>A♭onE♭</string>
	<string>A♭m7b</string>
	<string>A♭m7c</string>
	<string>A♭m7k</string>
	<string>A♭m7e</string>
	<string>A♭m7(11)</string>
	<string>A♭m7onD♭</string>
	<string>A♭7p</string>
	<string>A♭7q</string>
	<string>A♭7e</string>
	<string>A♭7(9)c</string>
	<string>A♭7(#11)</string>
	<string>A♭7(#9)b</string>
	<string>A♭7(♭9)b</string>
	<string>A♭7(13)b</string>
	<string>A♭7(♭13)b</string>
	<string>A♭7(9,13)b</string>
	<string>A♭7(9,♭13)</string>
	<string>A♭7(#9,♭13)</string>
	<string>A♭7(♭9,13)</string>
	<string>A♭7(♭9,♭13)</string>
	<string>A♭m7-5(♭13)</string>
	<string>A♭m7-5c</string>
	<string>A♭6b</string>
	<string>A♭6e</string>
	<string>A♭m6c</string>
	<string>A♭m6b</string>
	<string>A♭mmaj7c</string>
	<string>A♭mmaj7(9)</string>
	<string>A♭mmaj7(9)b</string>
	<string>A♭mmaj7(11)</string>
	<string>A♭dimb</string>
	<string>A♭augb</string>
	<string>A♭sus4b</string>
	<string>A♭7sus4b</string>
	<string>A♭add9c</string>
	<string>A♭madd9</string>
	<string>A♭m</string>
	<string>B♭m7-5</string>
	<string>B</string>
	<string>D♭m</string>
	<string>E♭m</string>
	<string>E</string>
	<string>G♭</string>
	<string>A♭6</string>
	<string>D♭6</string>
	<string>A7</string>
	<string>A♭maj7(9,#11)</string>
	<string>A♭maj7(13)</string>
	<string>A♭maj7(9,13)b</string>
	<string>A♭maj7(9,13)</string>
	<string> </string>
	<string> </string>
	<string>A♭m7(9)</string>
	<string>A♭m7(9)b</string>
	<string>A♭m7(9)c</string>
	<string>A♭m7(9)e</string>
	<string>A♭m7(9,11)</string>
	<string>A♭m7onD♭</string>
	<string>A♭7f</string>
	<string>A♭7v</string>
	<string>A♭7k</string>
	<string>A♭7(9)e</string>
	<string>A♭7(#11)b</string>
	<string>A♭7(#9)c</string>
	<string>A♭7(♭9)c</string>
	<string>A♭7(13)c</string>
	<string>A♭7(♭13)c</string>
	<string>A♭7(9,#11)</string>
	<string>A♭7(#9,13)</string>
	<string>A♭7(#9,13)b</string>
	<string>A♭7(#9,#11)</string>
	<string>A♭7(♭9,#11)b</string>
	<string>A♭7(♭9,#11)</string>
	<string>A♭m7-5(11)</string>
	<string>A♭6f</string>
	<string>A♭6(9)</string>
	<string>A♭6(9,#11)</string>
	<string>A♭m6(9)</string>
	<string>A♭m6(9)b</string>
	<string>A♭mmaj7(11)b</string>
	<string>A♭mmaj7(11)c</string>
	<string>A♭mmaj7(9,11)</string>
	<string>A♭dimc</string>
	<string>A♭augc</string>
	<string>A♭sus4c</string>
	<string>A♭7sus4c</string>
	<string>A♭add9e</string>
	<string>A♭madd9b</string>
</array>
</plist>
