<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>B</string>
	<string>C#m</string>
	<string>D#m</string>
	<string>E</string>
	<string>F#</string>
	<string>G#m</string>
	<string>A#m7-5</string>
	<string>B7</string>
	<string>C#7</string>
	<string>D#7</string>
	<string>B</string>
	<string>Bb</string>
	<string>Bc</string>
	<string>Bmaj7</string>
	<string>Bmaj7b</string>
	<string>BonD#</string>
	<string>Bm</string>
	<string>Bmb</string>
	<string>Bm7f</string>
	<string>Bme</string>
	<string>Bm7</string>
	<string>Bm7onA</string>
	<string>B7</string>
	<string>B7b</string>
	<string>B7c</string>
	<string>B7(9)</string>
	<string>B7(9)b</string>
	<string>B7(#9)</string>
	<string>B7(♭9)</string>
	<string>B7(13)</string>
	<string>B7(♭13)</string>
	<string>B7(9,13)</string>
	<string>B7(9,♭13)b</string>
	<string>B7(#9,♭13)b</string>
	<string>B7(♭9,13)b</string>
	<string>B7(♭9,♭13)b</string>
	<string>Bm7-5</string>
	<string>Bm7-5b</string>
	<string>B6</string>
	<string>B6c</string>
	<string>Bm6</string>
	<string>Bm6f</string>
	<string>Bm6e</string>
	<string>Bmmaj7</string>
	<string>Bmmaj7b</string>
	<string>Bmmaj7e</string>
	<string>Bdim</string>
	<string>Baug</string>
	<string>Bsus4</string>
	<string>B7sus4</string>
	<string>Badd9</string>
	<string>Badd9b</string>
	<string>Bmaj7</string>
	<string>C#m7</string>
	<string>D#m7</string>
	<string>Emaj7</string>
	<string>F#7</string>
	<string>G#m7</string>
	<string>Bsus4</string>
	<string>E7</string>
	<string>G#7</string>
	<string>A#7</string>
	<string>Bmaj7c</string>
	<string>Bmaj7e</string>
	<string>Bmaj7f</string>
	<string>Bmaj7k</string>
	<string>Bmaj7(9)</string>
	<string>BonF#</string>
	<string>Bm7b</string>
	<string>Bm7c</string>
	<string>Bm7k</string>
	<string>Bm7e</string>
	<string>Bm7(11)</string>
	<string>Bm7onE</string>
	<string>B7p</string>
	<string>B7q</string>
	<string>B7e</string>
	<string>B7(9)c</string>
	<string>B7(#11)</string>
	<string>B7(#9)b</string>
	<string>B7(♭9)b</string>
	<string>B7(13)b</string>
	<string>B7(♭13)b</string>
	<string>B7(9,13)b</string>
	<string>B7(9,♭13)</string>
	<string>B7(#9,♭13)</string>
	<string>B7(♭9,13)</string>
	<string>B7(♭9,♭13)</string>
	<string>Bm7-5(♭13)</string>
	<string>Bm7-5c</string>
	<string>B6b</string>
	<string>B6e</string>
	<string>Bm6c</string>
	<string>Bm6b</string>
	<string>Bmmaj7c</string>
	<string>Bmmaj7(9)</string>
	<string>Bmmaj7(9)b</string>
	<string>Bmmaj7(11)</string>
	<string>Bdimb</string>
	<string>Baugb</string>
	<string>Bsus4b</string>
	<string>B7sus4b</string>
	<string>Badd9c</string>
	<string>Bmadd9</string>
	<string>Bm</string>
	<string>C#m7-5</string>
	<string>D</string>
	<string>Em</string>
	<string>F#m</string>
	<string>G</string>
	<string>A</string>
	<string>B6</string>
	<string>E6</string>
	<string>C7</string>
	<string>Bmaj7(9,#11)</string>
	<string>Bmaj7(13)</string>
	<string>Bmaj7(9,13)</string>
	<string>Bmaj7(9,13)b</string>
	<string> </string>
	<string> </string>
	<string>Bm7(9)</string>
	<string>Bm7(9)b</string>
	<string>Bm7(9)c</string>
	<string>Bm7(9)e</string>
	<string>Bm7(9,11)</string>
	<string>Bm7onE</string>
	<string>B7f</string>
	<string>B7v</string>
	<string>B7k</string>
	<string>B7(9)e</string>
	<string>B7(#11)b</string>
	<string>B7(#9)c</string>
	<string>B7(♭9)c</string>
	<string>B7(13)c</string>
	<string>B7(♭13)c</string>
	<string>B7(9,#11)</string>
	<string>B7(#9,13)</string>
	<string>B7(#9,13)b</string>
	<string>B7(#9,#11)</string>
	<string>B7(♭9,#11)b</string>
	<string>B7(♭9,#11)</string>
	<string>Bm7-5(11)</string>
	<string>B6f</string>
	<string>B6(9)</string>
	<string>B6(9,#11)</string>
	<string>Bm6(9)</string>
	<string>Bm6(9)b</string>
	<string>Bmmaj7(11)b</string>
	<string>Bmmaj7(11)c</string>
	<string>Bmmaj7(9,11)</string>
	<string>Bdimc</string>
	<string>Baugc</string>
	<string>Bsus4c</string>
	<string>B7sus4c</string>
	<string>Badd9e</string>
	<string>Bmadd9b</string>
</array>
</plist>
