<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>B♭</string>
	<string>Cm</string>
	<string>Dm</string>
	<string>E♭</string>
	<string>F</string>
	<string>Gm</string>
	<string>Am7-5</string>
	<string>B♭7</string>
	<string>C7</string>
	<string>D7</string>
	<string>B♭</string>
	<string>B♭b</string>
	<string>B♭c</string>
	<string>B♭maj7</string>
	<string>B♭maj7b</string>
	<string>B♭onD</string>
	<string>B♭m</string>
	<string>B♭mb</string>
	<string>B♭m7f</string>
	<string>B♭me</string>
	<string>B♭m7</string>
	<string>B♭m7onA♭</string>
	<string>B♭7</string>
	<string>B♭7b</string>
	<string>B♭7c</string>
	<string>B♭7(9)</string>
	<string>B♭7(9)b</string>
	<string>B♭7(#9)</string>
	<string>B♭7(♭9)</string>
	<string>B♭7(13)</string>
	<string>B♭7(♭13)</string>
	<string>B♭7(9,13)</string>
	<string>B♭7(9,♭13)b</string>
	<string>B♭7(#9,♭13)b</string>
	<string>B♭7(♭9,13)b</string>
	<string>B♭7(♭9,♭13)b</string>
	<string>B♭m7-5</string>
	<string>B♭m7-5b</string>
	<string>B♭6</string>
	<string>B♭6c</string>
	<string>B♭m6</string>
	<string>B♭m6f</string>
	<string>B♭m6e</string>
	<string>B♭mmaj7</string>
	<string>B♭mmaj7b</string>
	<string>B♭mmaj7e</string>
	<string>B♭dim</string>
	<string>B♭aug</string>
	<string>B♭sus4</string>
	<string>B♭7sus4</string>
	<string>B♭add9</string>
	<string>B♭add9b</string>
	<string>B♭maj7</string>
	<string>Cm7</string>
	<string>Dm7</string>
	<string>E♭maj7</string>
	<string>F7</string>
	<string>Gm7</string>
	<string>B♭sus4</string>
	<string>E♭7</string>
	<string>G7</string>
	<string>A7</string>
	<string>B♭maj7c</string>
	<string>B♭maj7e</string>
	<string>B♭maj7f</string>
	<string>B♭maj7k</string>
	<string>B♭maj7(9)</string>
	<string>B♭onF</string>
	<string>B♭m7b</string>
	<string>B♭m7c</string>
	<string>B♭m7k</string>
	<string>B♭m7e</string>
	<string>B♭m7(11)</string>
	<string>B♭m7onE♭</string>
	<string>B♭7p</string>
	<string>B♭7q</string>
	<string>B♭7e</string>
	<string>B♭7(9)c</string>
	<string>B♭7(#11)</string>
	<string>B♭7(#9)b</string>
	<string>B♭7(♭9)b</string>
	<string>B♭7(13)b</string>
	<string>B♭7(♭13)b</string>
	<string>B♭7(9,13)b</string>
	<string>B♭7(9,♭13)</string>
	<string>B♭7(#9,♭13)</string>
	<string>B♭7(♭9,13)</string>
	<string>B♭7(♭9,♭13)</string>
	<string>B♭m7-5(♭13)</string>
	<string>B♭m7-5c</string>
	<string>B♭6b</string>
	<string>B♭6e</string>
	<string>B♭m6c</string>
	<string>B♭m6b</string>
	<string>B♭mmaj7c</string>
	<string>B♭mmaj7(9)</string>
	<string>B♭mmaj7(9)b</string>
	<string>B♭mmaj7(11)</string>
	<string>B♭dimb</string>
	<string>B♭augb</string>
	<string>B♭sus4b</string>
	<string>B♭7sus4b</string>
	<string>B♭add9c</string>
	<string>B♭madd9</string>
	<string>B♭m</string>
	<string>Cm7-5</string>
	<string>D♭</string>
	<string>E♭m</string>
	<string>Fm</string>
	<string>G♭</string>
	<string>A♭</string>
	<string>G♭6</string>
	<string>E♭6</string>
	<string>B7</string>
	<string>B♭maj7(9,#11)</string>
	<string>B♭maj7(13)</string>
	<string>B♭maj7(9,13)b</string>
	<string>B♭maj7(9,13)</string>
	<string> </string>
	<string> </string>
	<string>B♭m7(9)</string>
	<string>B♭m7(9)b</string>
	<string>B♭m7(9)c</string>
	<string>B♭m7(9)e</string>
	<string>B♭m7(9,11)</string>
	<string>B♭m7onE♭</string>
	<string>B♭7f</string>
	<string>B♭7v</string>
	<string>B♭7k</string>
	<string>B♭7(9)e</string>
	<string>B♭7(#11)b</string>
	<string>B♭7(#9)c</string>
	<string>B♭7(♭9)c</string>
	<string>B♭7(13)c</string>
	<string>B♭7(♭13)c</string>
	<string>B♭7(9,#11)</string>
	<string>B♭7(#9,13)</string>
	<string>B♭7(#9,13)b</string>
	<string>B♭7(#9,#11)</string>
	<string>B♭7(♭9,#11)b</string>
	<string>B♭7(♭9,#11)</string>
	<string>B♭m7-5(11)</string>
	<string>B♭6f</string>
	<string>B♭6(9)</string>
	<string>B♭6(9,#11)</string>
	<string>B♭m6(9)</string>
	<string>B♭m6(9)b</string>
	<string>B♭mmaj7(11)b</string>
	<string>B♭mmaj7(11)c</string>
	<string>B♭mmaj7(9,11)</string>
	<string>B♭dimc</string>
	<string>B♭augc</string>
	<string>B♭sus4c</string>
	<string>B♭7sus4c</string>
	<string>B♭add9e</string>
	<string>B♭madd9b</string>
</array>
</plist>
