<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>C</string>
	<string>Dm</string>
	<string>Em</string>
	<string>F</string>
	<string>G</string>
	<string>Am</string>
	<string>Bm7-5</string>
	<string>C7</string>
	<string>D7</string>
	<string>E7</string>
	<string>C</string>
	<string>Cb</string>
	<string>Cc</string>
	<string>Cmaj7</string>
	<string>Cmaj7b</string>
	<string>ConE</string>
	<string>Cm</string>
	<string>Cmb</string>
	<string>Cm7f</string>
	<string>Cme</string>
	<string>Cm7</string>
	<string>Cm7onB♭</string>
	<string>C7</string>
	<string>C7b</string>
	<string>C7c</string>
	<string>C7(9)</string>
	<string>C7(9)b</string>
	<string>C7(#9)</string>
	<string>C7(♭9)</string>
	<string>C7(13)</string>
	<string>C7(♭13)</string>
	<string>C7(9,13)</string>
	<string>C7(9,♭13)b</string>
	<string>C7(#9,♭13)b</string>
	<string>C7(♭9,13)b</string>
	<string>C7(♭9,♭13)b</string>
	<string>Cm7-5</string>
	<string>Cm7-5b</string>
	<string>C6</string>
	<string>C6c</string>
	<string>Cm6</string>
	<string>Cm6f</string>
	<string>Cm6e</string>
	<string>Cmmaj7</string>
	<string>Cmmaj7b</string>
	<string>Cmmaj7e</string>
	<string>Cdim</string>
	<string>Caug</string>
	<string>Csus4</string>
	<string>C7sus4</string>
	<string>Cadd9</string>
	<string>Cadd9b</string>
	<string>Cmaj7</string>
	<string>Dm7</string>
	<string>Em7</string>
	<string>Fmaj7</string>
	<string>G7</string>
	<string>Am7</string>
	<string>Csus4</string>
	<string>F7</string>
	<string>A7</string>
	<string>B7</string>
	<string>Cmaj7c</string>
	<string>Cmaj7e</string>
	<string>Cmaj7f</string>
	<string>Cmaj7k</string>
	<string>Cmaj7(9)</string>
	<string>ConG</string>
	<string>Cm7b</string>
	<string>Cm7c</string>
	<string>Cm7k</string>
	<string>Cm7e</string>
	<string>Cm7(11)</string>
	<string>Cm7onG</string>
	<string>C7p</string>
	<string>C7q</string>
	<string>C7e</string>
	<string>C7(9)c</string>
	<string>C7(#11)</string>
	<string>C7(#9)b</string>
	<string>C7(♭9)b</string>
	<string>C7(13)b</string>
	<string>C7(♭13)b</string>
	<string>C7(9,13)b</string>
	<string>C7(9,♭13)</string>
	<string>C7(#9,♭13)</string>
	<string>C7(♭9,13)</string>
	<string>C7(♭9,♭13)</string>
	<string>Cm7-5(♭13)</string>
	<string>Cm7-5c</string>
	<string>C6b</string>
	<string>C6e</string>
	<string>Cm6c</string>
	<string>Cm6b</string>
	<string>Cmmaj7c</string>
	<string>Cmmaj7(9)</string>
	<string>Cmmaj7(9)b</string>
	<string>Cmmaj7(11)</string>
	<string>Cdimb</string>
	<string>Caugb</string>
	<string>Csus4b</string>
	<string>C7sus4b</string>
	<string>Cadd9c</string>
	<string>Cmadd9</string>
	<string>Cm</string>
	<string>Dm7-5</string>
	<string>E♭</string>
	<string>Fm</string>
	<string>Gm</string>
	<string>A♭</string>
	<string>B♭</string>
	<string>C6</string>
	<string>F6</string>
	<string>D♭7</string>
	<string>Cmaj7(9,#11)</string>
	<string>Cmaj7(13)</string>
	<string>Cmaj7(9,13)</string>
	<string>Cmaj7(9,13)b</string>
	<string> </string>
	<string> </string>
	<string>Cm7(9)</string>
	<string>Cm7(9)b</string>
	<string>Cm7(9)c</string>
	<string>Cm7(9)e</string>
	<string>Cm7(9,11)</string>
	<string>Cm7onF</string>
	<string>C7f</string>
	<string>C7v</string>
	<string>C7k</string>
	<string>C7(9)e</string>
	<string>C7(#11)b</string>
	<string>C7(#9)c</string>
	<string>C7(♭9)c</string>
	<string>C7(13)c</string>
	<string>C7(♭13)c</string>
	<string>C7(9,#11)</string>
	<string>C7(#9,13)</string>
	<string>C7(#9,13)b</string>
	<string>C7(#9,#11)</string>
	<string>C7(♭9,#11)b</string>
	<string>C7(♭9,#11)</string>
	<string>Cm7-5(11)</string>
	<string>C6f</string>
	<string>C6(9)</string>
	<string>C6(9,#11)</string>
	<string>Cm6(9)</string>
	<string>Cm6(9)b</string>
	<string>Cmmaj7(11)b</string>
	<string>Cmmaj7(11)c</string>
	<string>Cmmaj7(9,11)</string>
	<string>Cdimc</string>
	<string>Caugc</string>
	<string>Csus4c</string>
	<string>C7sus4c</string>
	<string>Cadd9e</string>
	<string>Cmadd9b</string>
</array>
</plist>
