<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>D</string>
	<string>Em</string>
	<string>F#m</string>
	<string>G</string>
	<string>A</string>
	<string>Bm</string>
	<string>C#m7-5</string>
	<string>D7</string>
	<string>E7</string>
	<string>F#7</string>
	<string>D</string>
	<string>Db</string>
	<string>Dc</string>
	<string>Dmaj7</string>
	<string>Dmaj7b</string>
	<string>DonF#</string>
	<string>Dm</string>
	<string>Dmb</string>
	<string>Dm7f</string>
	<string>Dme</string>
	<string>Dm7</string>
	<string>Dm7onC</string>
	<string>D7</string>
	<string>D7b</string>
	<string>D7c</string>
	<string>D7(9)</string>
	<string>D7(9)b</string>
	<string>D7(#9)</string>
	<string>D7(♭9)</string>
	<string>D7(13)</string>
	<string>D7(♭13)</string>
	<string>D7(9,13)</string>
	<string>D7(9,♭13)b</string>
	<string>D7(#9,♭13)b</string>
	<string>D7(♭9,13)b</string>
	<string>D7(♭9,♭13)b</string>
	<string>Dm7-5</string>
	<string>Dm7-5b</string>
	<string>D6</string>
	<string>D6c</string>
	<string>Dm6</string>
	<string>Dm6f</string>
	<string>Dm6e</string>
	<string>Dmmaj7</string>
	<string>Dmmaj7b</string>
	<string>Dmmaj7e</string>
	<string>Ddim</string>
	<string>Daug</string>
	<string>Dsus4</string>
	<string>D7sus4</string>
	<string>Dadd9</string>
	<string>Dadd9b</string>
	<string>Dmaj7</string>
	<string>Em7</string>
	<string>F#m7</string>
	<string>Gmaj7</string>
	<string>A7</string>
	<string>Bm7</string>
	<string>Dsus4</string>
	<string>G7</string>
	<string>B7</string>
	<string>C#7</string>
	<string>Dmaj7c</string>
	<string>Dmaj7e</string>
	<string>Dmaj7f</string>
	<string>Dmaj7k</string>
	<string>Dmaj7(9)</string>
	<string>DonA</string>
	<string>Dm7b</string>
	<string>Dm7c</string>
	<string>Dm7k</string>
	<string>Dm7e</string>
	<string>Dm7(11)</string>
	<string>Dm7onA</string>
	<string>D7p</string>
	<string>D7q</string>
	<string>D7e</string>
	<string>D7(9)c</string>
	<string>D7(#11)</string>
	<string>D7(#9)b</string>
	<string>D7(♭9)b</string>
	<string>D7(13)b</string>
	<string>D7(♭13)b</string>
	<string>D7(9,13)b</string>
	<string>D7(9,♭13)</string>
	<string>D7(#9,♭13)</string>
	<string>D7(♭9,13)</string>
	<string>D7(♭9,♭13)</string>
	<string>Dm7-5(♭13)</string>
	<string>Dm7-5c</string>
	<string>D6b</string>
	<string>D6e</string>
	<string>Dm6c</string>
	<string>Dm6b</string>
	<string>Dmmaj7c</string>
	<string>Dmmaj7(9)</string>
	<string>Dmmaj7(9)b</string>
	<string>Dmmaj7(11)</string>
	<string>Ddimb</string>
	<string>Daugb</string>
	<string>Dsus4b</string>
	<string>D7sus4b</string>
	<string>Dadd9c</string>
	<string>Dmadd9</string>
	<string>Dm</string>
	<string>Em7-5</string>
	<string>F</string>
	<string>Gm</string>
	<string>Am</string>
	<string>B♭</string>
	<string>C</string>
	<string>D6</string>
	<string>G6</string>
	<string>E♭7</string>
	<string>Dmaj7(9,#11)</string>
	<string>Dmaj7(13)</string>
	<string>Dmaj7(9,13)</string>
	<string>Dmaj7(9,13)b</string>
	<string> </string>
	<string> </string>
	<string>Dm7(9)</string>
	<string>Dm7(9)b</string>
	<string>Dm7(9)c</string>
	<string>Dm7(9)e</string>
	<string>Dm7(9,11)</string>
	<string>Dm7onG</string>
	<string>D7f</string>
	<string>D7v</string>
	<string>D7k</string>
	<string>D7(9)e</string>
	<string>D7(#11)b</string>
	<string>D7(#9)c</string>
	<string>D7(♭9)c</string>
	<string>D7(13)c</string>
	<string>D7(♭13)c</string>
	<string>D7(9,#11)</string>
	<string>D7(#9,13)</string>
	<string>D7(#9,13)b</string>
	<string>D7(#9,#11)</string>
	<string>D7(♭9,#11)b</string>
	<string>D7(♭9,#11)</string>
	<string>Dm7-5(11)</string>
	<string>D6f</string>
	<string>D6(9)</string>
	<string>D6(9,#11)</string>
	<string>Dm6(9)</string>
	<string>Dm6(9)b</string>
	<string>Dmmaj7(11)b</string>
	<string>Dmmaj7(11)c</string>
	<string>Dmmaj7(9,11)</string>
	<string>Ddimc</string>
	<string>Daugc</string>
	<string>Dsus4c</string>
	<string>D7sus4c</string>
	<string>Dadd9e</string>
	<string>Dmadd9b</string>
</array>
</plist>
