<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>D♭</string>
	<string>E♭m</string>
	<string>Fm</string>
	<string>G♭</string>
	<string>A♭</string>
	<string>B♭m</string>
	<string>Cm7-5</string>
	<string>D♭7</string>
	<string>E♭7</string>
	<string>F7</string>
	<string>D♭</string>
	<string>D♭b</string>
	<string>D♭c</string>
	<string>D♭maj7</string>
	<string>D♭maj7b</string>
	<string>D♭onF</string>
	<string>D♭m</string>
	<string>D♭mb</string>
	<string>D♭m7f</string>
	<string>D♭me</string>
	<string>D♭m7</string>
	<string>D♭m7onB</string>
	<string>D♭7</string>
	<string>D♭7b</string>
	<string>D♭7c</string>
	<string>D♭7(9)</string>
	<string>D♭7(9)b</string>
	<string>D♭7(#9)</string>
	<string>D♭7(♭9)</string>
	<string>D♭7(13)</string>
	<string>D♭7(♭13)</string>
	<string>D♭7(9,13)</string>
	<string>D♭7(9,♭13)b</string>
	<string>D♭7(#9,♭13)b</string>
	<string>D♭7(♭9,13)b</string>
	<string>D♭7(♭9,♭13)b</string>
	<string>D♭m7-5</string>
	<string>D♭m7-5b</string>
	<string>D♭6</string>
	<string>D♭6c</string>
	<string>D♭m6</string>
	<string>D♭m6f</string>
	<string>D♭m6e</string>
	<string>D♭mmaj7</string>
	<string>D♭mmaj7b</string>
	<string>D♭mmaj7e</string>
	<string>D♭dim</string>
	<string>D♭aug</string>
	<string>D♭sus4</string>
	<string>D♭7sus4</string>
	<string>D♭add9</string>
	<string>D♭add9b</string>
	<string>D♭maj7</string>
	<string>E♭m7</string>
	<string>Fm7</string>
	<string>G♭maj7</string>
	<string>A♭7</string>
	<string>B♭m7</string>
	<string>D♭sus4</string>
	<string>E♭7</string>
	<string>B♭7</string>
	<string>C7</string>
	<string>D♭maj7c</string>
	<string>D♭maj7e</string>
	<string>D♭maj7f</string>
	<string>D♭maj7k</string>
	<string>D♭maj7(9)</string>
	<string>D♭onA♭</string>
	<string>D♭m7b</string>
	<string>D♭m7c</string>
	<string>D♭m7k</string>
	<string>D♭m7e</string>
	<string>D♭m7(11)</string>
	<string>D♭m7onA♭</string>
	<string>D♭7p</string>
	<string>D♭7q</string>
	<string>D♭7e</string>
	<string>D♭7(9)c</string>
	<string>D♭7(#11)</string>
	<string>D♭7(#9)b</string>
	<string>D♭7(♭9)b</string>
	<string>D♭7(13)b</string>
	<string>D♭7(♭13)b</string>
	<string>D♭7(9,13)b</string>
	<string>D♭7(9,♭13)</string>
	<string>D♭7(#9,♭13)</string>
	<string>D♭7(♭9,13)</string>
	<string>D♭7(♭9,♭13)</string>
	<string>D♭m7-5(♭13)</string>
	<string>D♭m7-5c</string>
	<string>D♭6b</string>
	<string>D♭6e</string>
	<string>D♭m6c</string>
	<string>D♭m6b</string>
	<string>D♭mmaj7c</string>
	<string>D♭mmaj7(9)</string>
	<string>D♭mmaj7(9)b</string>
	<string>D♭mmaj7(11)</string>
	<string>D♭dimb</string>
	<string>D♭augb</string>
	<string>D♭sus4b</string>
	<string>D♭7sus4b</string>
	<string>D♭add9c</string>
	<string>D♭madd9</string>
	<string>D♭m</string>
	<string>E♭m7-5</string>
	<string>E</string>
	<string>G♭m</string>
	<string>A♭m</string>
	<string>A</string>
	<string>B</string>
	<string>D♭6</string>
	<string>G♭6</string>
	<string>D7</string>
	<string>D♭maj7(9,#11)</string>
	<string>D♭maj7(13)</string>
	<string>D♭maj7(9,13)b</string>
	<string>D♭maj7(9,13)</string>
	<string> </string>
	<string> </string>
	<string>D♭m7(9)</string>
	<string>D♭m7(9)b</string>
	<string>D♭m7(9)c</string>
	<string>D♭m7(9)e</string>
	<string>D♭m7(9,11)</string>
	<string>D♭m7onG♭</string>
	<string>D♭7f</string>
	<string>D♭7v</string>
	<string>D♭7k</string>
	<string>D♭7(9)e</string>
	<string>D♭7(#11)b</string>
	<string>D♭7(#9)c</string>
	<string>D♭7(♭9)c</string>
	<string>D♭7(13)c</string>
	<string>D♭7(♭13)c</string>
	<string>D♭7(9,#11)</string>
	<string>D♭7(#9,13)</string>
	<string>D♭7(#9,13)b</string>
	<string>D♭7(#9,#11)</string>
	<string>D♭7(♭9,#11)b</string>
	<string>D♭7(♭9,#11)</string>
	<string>D♭m7-5(11)</string>
	<string>D♭6f</string>
	<string>D♭6(9)</string>
	<string>D♭6(9,#11)</string>
	<string>D♭m6(9)</string>
	<string>D♭m6(9)b</string>
	<string>D♭mmaj7(11)b</string>
	<string>D♭mmaj7(11)c</string>
	<string>D♭mmaj7(9,11)</string>
	<string>D♭dimc</string>
	<string>D♭augc</string>
	<string>D♭sus4c</string>
	<string>D♭7sus4c</string>
	<string>D♭add9e</string>
	<string>D♭madd9b</string>
</array>
</plist>
