<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>E</string>
	<string>F#m</string>
	<string>G#m</string>
	<string>A</string>
	<string>B</string>
	<string>C#m</string>
	<string>D#m7-5</string>
	<string>E7</string>
	<string>F#7</string>
	<string>G#7</string>
	<string>E</string>
	<string>Eb</string>
	<string>Ec</string>
	<string>Emaj7</string>
	<string>Emaj7b</string>
	<string>EonG#</string>
	<string>Em</string>
	<string>Emb</string>
	<string>Em7f</string>
	<string>Eme</string>
	<string>Em7</string>
	<string>Em7onD</string>
	<string>E7</string>
	<string>E7b</string>
	<string>E7c</string>
	<string>E7(9)</string>
	<string>E7(9)b</string>
	<string>E7(#9)</string>
	<string>E7(♭9)</string>
	<string>E7(13)</string>
	<string>E7(♭13)</string>
	<string>E7(9,13)</string>
	<string>E7(9,♭13)b</string>
	<string>E7(#9,♭13)b</string>
	<string>E7(♭9,13)b</string>
	<string>E7(♭9,♭13)b</string>
	<string>Em7-5</string>
	<string>Em7-5b</string>
	<string>E6</string>
	<string>E6c</string>
	<string>Em6</string>
	<string>Em6f</string>
	<string>Em6e</string>
	<string>Emmaj7</string>
	<string>Emmaj7b</string>
	<string>Emmaj7e</string>
	<string>Edim</string>
	<string>Eaug</string>
	<string>Esus4</string>
	<string>E7sus4</string>
	<string>Eadd9</string>
	<string>Eadd9b</string>
	<string>Emaj7</string>
	<string>F#m7</string>
	<string>G#m7</string>
	<string>Amaj7</string>
	<string>B7</string>
	<string>C#m7</string>
	<string>Esus4</string>
	<string>A7</string>
	<string>C#7</string>
	<string>D#7</string>
	<string>Emaj7c</string>
	<string>Emaj7e</string>
	<string>Emaj7f</string>
	<string>Emaj7k</string>
	<string>Emaj7(9)</string>
	<string>EonB</string>
	<string>Em7b</string>
	<string>Em7c</string>
	<string>Em7k</string>
	<string>Em7e</string>
	<string>Em7(11)</string>
	<string>Em7onB</string>
	<string>E7p</string>
	<string>E7q</string>
	<string>E7e</string>
	<string>E7(9)c</string>
	<string>E7(#11)</string>
	<string>E7(#9)b</string>
	<string>E7(♭9)b</string>
	<string>E7(13)b</string>
	<string>E7(♭13)b</string>
	<string>E7(9,13)b</string>
	<string>E7(9,♭13)</string>
	<string>E7(#9,♭13)</string>
	<string>E7(♭9,13)</string>
	<string>E7(♭9,♭13)</string>
	<string>Em7-5(♭13)</string>
	<string>Em7-5c</string>
	<string>E6b</string>
	<string>E6e</string>
	<string>Em6c</string>
	<string>Em6b</string>
	<string>Emmaj7c</string>
	<string>Emmaj7(9)</string>
	<string>Emmaj7(9)b</string>
	<string>Emmaj7(11)</string>
	<string>Edimb</string>
	<string>Eaugb</string>
	<string>Esus4b</string>
	<string>E7sus4b</string>
	<string>Eadd9c</string>
	<string>Emadd9</string>
	<string>Em</string>
	<string>F#m7-5</string>
	<string>G</string>
	<string>Am</string>
	<string>Bm</string>
	<string>C</string>
	<string>D</string>
	<string>E6</string>
	<string>A6</string>
	<string>F7</string>
	<string>Emaj7(9,#11)</string>
	<string>Emaj7(13)</string>
	<string>Emaj7(9,13)</string>
	<string>Emaj7(9,13)b</string>
	<string> </string>
	<string> </string>
	<string>Em7(9)</string>
	<string>Em7(9)b</string>
	<string>Em7(9)c</string>
	<string>Em7(9)e</string>
	<string>Em7(9,11)</string>
	<string>Em7onA</string>
	<string>E7f</string>
	<string>E7v</string>
	<string>E7k</string>
	<string>E7(9)e</string>
	<string>E7(#11)b</string>
	<string>E7(#9)c</string>
	<string>E7(♭9)c</string>
	<string>E7(13)c</string>
	<string>E7(♭13)c</string>
	<string>E7(9,#11)</string>
	<string>E7(#9,13)</string>
	<string>E7(#9,13)b</string>
	<string>E7(#9,#11)</string>
	<string>E7(♭9,#11)b</string>
	<string>E7(♭9,#11)</string>
	<string>Em7-5(11)</string>
	<string>E6f</string>
	<string>E6(9)</string>
	<string>E6(9,#11)</string>
	<string>Em6(9)</string>
	<string>Em6(9)b</string>
	<string>Emmaj7(11)b</string>
	<string>Emmaj7(11)c</string>
	<string>Emmaj7(9,11)</string>
	<string>Edimc</string>
	<string>Eaugc</string>
	<string>Esus4c</string>
	<string>E7sus4c</string>
	<string>Eadd9e</string>
	<string>Emadd9b</string>
</array>
</plist>
