<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>E♭</string>
	<string>Fm</string>
	<string>Gm</string>
	<string>A♭</string>
	<string>B♭</string>
	<string>Cm</string>
	<string>Dm7-5</string>
	<string>E♭7</string>
	<string>F7</string>
	<string>G7</string>
	<string>E♭</string>
	<string>E♭b</string>
	<string>E♭c</string>
	<string>E♭maj7</string>
	<string>E♭maj7b</string>
	<string>E♭onG</string>
	<string>E♭m</string>
	<string>E♭mb</string>
	<string>E♭m7f</string>
	<string>E♭me</string>
	<string>E♭m7</string>
	<string>E♭m7onD♭</string>
	<string>E♭7</string>
	<string>E♭7b</string>
	<string>E♭7c</string>
	<string>E♭7(9)</string>
	<string>E♭7(9)b</string>
	<string>E♭7(#9)</string>
	<string>E♭7(♭9)</string>
	<string>E♭7(13)</string>
	<string>E♭7(♭13)</string>
	<string>E♭7(9,13)</string>
	<string>E♭7(9,♭13)b</string>
	<string>E♭7(#9,♭13)b</string>
	<string>E♭7(♭9,13)b</string>
	<string>E♭7(♭9,♭13)b</string>
	<string>E♭m7-5</string>
	<string>E♭m7-5b</string>
	<string>E♭6</string>
	<string>E♭6c</string>
	<string>E♭m6</string>
	<string>E♭m6f</string>
	<string>E♭m6e</string>
	<string>E♭mmaj7</string>
	<string>E♭mmaj7b</string>
	<string>E♭mmaj7e</string>
	<string>E♭dim</string>
	<string>E♭aug</string>
	<string>E♭sus4</string>
	<string>E♭7sus4</string>
	<string>E♭add9</string>
	<string>E♭add9b</string>
	<string>E♭maj7</string>
	<string>Fm7</string>
	<string>Gm7</string>
	<string>A♭maj7</string>
	<string>B♭7</string>
	<string>Cm7</string>
	<string>E♭sus4</string>
	<string>A♭7</string>
	<string>C7</string>
	<string>D7</string>
	<string>E♭maj7c</string>
	<string>E♭maj7e</string>
	<string>E♭maj7f</string>
	<string>E♭maj7k</string>
	<string>E♭maj7(9)</string>
	<string>E♭onB♭</string>
	<string>E♭m7b</string>
	<string>E♭m7c</string>
	<string>E♭m7k</string>
	<string>E♭m7e</string>
	<string>E♭m7(11)</string>
	<string>E♭m7onB♭</string>
	<string>E♭7p</string>
	<string>E♭7q</string>
	<string>E♭7e</string>
	<string>E♭7(9)c</string>
	<string>E♭7(#11)</string>
	<string>E♭7(#9)b</string>
	<string>E♭7(♭9)b</string>
	<string>E♭7(13)b</string>
	<string>E♭7(♭13)b</string>
	<string>E♭7(9,13)b</string>
	<string>E♭7(9,♭13)</string>
	<string>E♭7(#9,♭13)</string>
	<string>E♭7(♭9,13)</string>
	<string>E♭7(♭9,♭13)</string>
	<string>E♭m7-5(♭13)</string>
	<string>E♭m7-5c</string>
	<string>E♭6b</string>
	<string>E♭6e</string>
	<string>E♭m6c</string>
	<string>E♭m6b</string>
	<string>E♭mmaj7c</string>
	<string>E♭mmaj7(9)</string>
	<string>E♭mmaj7(9)b</string>
	<string>E♭mmaj7(11)</string>
	<string>E♭dimb</string>
	<string>E♭augb</string>
	<string>E♭sus4b</string>
	<string>E♭7sus4b</string>
	<string>E♭add9c</string>
	<string>E♭madd9</string>
	<string>E♭m</string>
	<string>Fm7-5</string>
	<string>G♭</string>
	<string>A♭m</string>
	<string>B♭m</string>
	<string>B</string>
	<string>D♭</string>
	<string>E♭6</string>
	<string>A♭6</string>
	<string>E7</string>
	<string>E♭maj7(9,#11)</string>
	<string>E♭maj7(13)</string>
	<string>E♭maj7(9,13)b</string>
	<string>E♭maj7(9,13)</string>
	<string> </string>
	<string> </string>
	<string>E♭m7(9)</string>
	<string>E♭m7(9)b</string>
	<string>E♭m7(9)c</string>
	<string>E♭m7(9)e</string>
	<string>E♭m7(9,11)</string>
	<string>E♭m7onA♭</string>
	<string>E♭7f</string>
	<string>E♭7v</string>
	<string>E♭7k</string>
	<string>E♭7(9)e</string>
	<string>E♭7(#11)b</string>
	<string>E♭7(#9)c</string>
	<string>E♭7(♭9)c</string>
	<string>E♭7(13)c</string>
	<string>E♭7(♭13)c</string>
	<string>E♭7(9,#11)</string>
	<string>E♭7(#9,13)</string>
	<string>E♭7(#9,13)b</string>
	<string>E♭7(#9,#11)</string>
	<string>E♭7(♭9,#11)b</string>
	<string>E♭7(♭9,#11)</string>
	<string>E♭m7-5(11)</string>
	<string>E♭6f</string>
	<string>E♭6(9)</string>
	<string>E♭6(9,#11)</string>
	<string>E♭m6(9)</string>
	<string>E♭m6(9)b</string>
	<string>E♭mmaj7(11)b</string>
	<string>E♭mmaj7(11)c</string>
	<string>E♭mmaj7(9,11)</string>
	<string>E♭dimc</string>
	<string>E♭augc</string>
	<string>E♭sus4c</string>
	<string>E♭7sus4c</string>
	<string>E♭add9e</string>
	<string>E♭madd9b</string>
</array>
</plist>
