<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>F</string>
	<string>Gm</string>
	<string>Am</string>
	<string>B♭</string>
	<string>C</string>
	<string>Dm</string>
	<string>Em7-5</string>
	<string>F7</string>
	<string>G7</string>
	<string>A7</string>
	<string>F</string>
	<string>Fb</string>
	<string>Fc</string>
	<string>Fmaj7</string>
	<string>Fmaj7b</string>
	<string>FonA</string>
	<string>Fm</string>
	<string>Fmb</string>
	<string>Fm7f</string>
	<string>Fme</string>
	<string>Fm7</string>
	<string>Fm7onE♭</string>
	<string>F7</string>
	<string>F7b</string>
	<string>F7c</string>
	<string>F7(9)</string>
	<string>F7(9)b</string>
	<string>F7(#9)</string>
	<string>F7(♭9)</string>
	<string>F7(13)</string>
	<string>F7(♭13)</string>
	<string>F7(9,13)</string>
	<string>F7(9,♭13)b</string>
	<string>F7(#9,♭13)b</string>
	<string>F7(♭9,13)b</string>
	<string>F7(♭9,♭13)b</string>
	<string>Fm7-5</string>
	<string>Fm7-5b</string>
	<string>F6</string>
	<string>F6c</string>
	<string>Fm6</string>
	<string>Fm6f</string>
	<string>Fm6e</string>
	<string>Fmmaj7</string>
	<string>Fmmaj7b</string>
	<string>Fmmaj7e</string>
	<string>Fdim</string>
	<string>Faug</string>
	<string>Fsus4</string>
	<string>F7sus4</string>
	<string>Fadd9</string>
	<string>Fadd9b</string>
	<string>Fmaj7</string>
	<string>Gm7</string>
	<string>Am7</string>
	<string>B♭maj7</string>
	<string>C7</string>
	<string>Dm7</string>
	<string>Fsus4</string>
	<string>B♭7</string>
	<string>D7</string>
	<string>E7</string>
	<string>Fmaj7c</string>
	<string>Fmaj7e</string>
	<string>Fmaj7f</string>
	<string>Fmaj7k</string>
	<string>Fmaj7(9)</string>
	<string>FonC</string>
	<string>Fm7b</string>
	<string>Fm7c</string>
	<string>Fm7k</string>
	<string>Fm7e</string>
	<string>Fm7(11)</string>
	<string>Fm7onC</string>
	<string>F7p</string>
	<string>F7q</string>
	<string>F7e</string>
	<string>F7(9)c</string>
	<string>F7(#11)</string>
	<string>F7(#9)b</string>
	<string>F7(♭9)b</string>
	<string>F7(13)b</string>
	<string>F7(♭13)b</string>
	<string>F7(9,13)b</string>
	<string>F7(9,♭13)</string>
	<string>F7(#9,♭13)</string>
	<string>F7(♭9,13)</string>
	<string>F7(♭9,♭13)</string>
	<string>Fm7-5(♭13)</string>
	<string>Fm7-5c</string>
	<string>F6b</string>
	<string>F6e</string>
	<string>Fm6c</string>
	<string>Fm6b</string>
	<string>Fmmaj7c</string>
	<string>Fmmaj7(9)</string>
	<string>Fmmaj7(9)b</string>
	<string>Fmmaj7(11)</string>
	<string>Fdimb</string>
	<string>Faugb</string>
	<string>Fsus4b</string>
	<string>F7sus4b</string>
	<string>Fadd9c</string>
	<string>Fmadd9</string>
	<string>Fm</string>
	<string>Gm7-5</string>
	<string>A♭</string>
	<string>B♭m</string>
	<string>Cm</string>
	<string>D♭</string>
	<string>E♭</string>
	<string>F6</string>
	<string>B♭6</string>
	<string>G♭7</string>
	<string>Fmaj7(9,#11)</string>
	<string>Fmaj7(13)</string>
	<string>Fmaj7(9,13)</string>
	<string>Fmaj7(9,13)b</string>
	<string> </string>
	<string> </string>
	<string>Fm7(9)</string>
	<string>Fm7(9)b</string>
	<string>Fm7(9)c</string>
	<string>Fm7(9)e</string>
	<string>Fm7(9,11)</string>
	<string>Fm7onB♭</string>
	<string>F7f</string>
	<string>F7v</string>
	<string>F7k</string>
	<string>F7(9)e</string>
	<string>F7(#11)b</string>
	<string>F7(#9)c</string>
	<string>F7(♭9)c</string>
	<string>F7(13)c</string>
	<string>F7(♭13)c</string>
	<string>F7(9,#11)</string>
	<string>F7(#9,13)</string>
	<string>F7(#9,13)b</string>
	<string>F7(#9,#11)</string>
	<string>F7(♭9,#11)b</string>
	<string>F7(♭9,#11)</string>
	<string>Fm7-5(11)</string>
	<string>F6f</string>
	<string>F6(9)</string>
	<string>F6(9,#11)</string>
	<string>Fm6(9)</string>
	<string>Fm6(9)b</string>
	<string>Fmmaj7(11)b</string>
	<string>Fmmaj7(11)c</string>
	<string>Fmmaj7(9,11)</string>
	<string>Fdimc</string>
	<string>Faugc</string>
	<string>Fsus4c</string>
	<string>F7sus4c</string>
	<string>Fadd9e</string>
	<string>Fmadd9b</string>
</array>
</plist>
