<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>G</string>
	<string>Am</string>
	<string>Bm</string>
	<string>C</string>
	<string>D</string>
	<string>Em</string>
	<string>F#m7-5</string>
	<string>G7</string>
	<string>A7</string>
	<string>B7</string>
	<string>G</string>
	<string>Gb</string>
	<string>Gc</string>
	<string>Gmaj7</string>
	<string>Gmaj7b</string>
	<string>GonB</string>
	<string>Gm</string>
	<string>Gmb</string>
	<string>Gm7f</string>
	<string>Gme</string>
	<string>Gm7</string>
	<string>Gm7onF</string>
	<string>G7</string>
	<string>G7b</string>
	<string>G7c</string>
	<string>G7(9)</string>
	<string>G7(9)b</string>
	<string>G7(#9)</string>
	<string>G7(♭9)</string>
	<string>G7(13)</string>
	<string>G7(♭13)</string>
	<string>G7(9,13)</string>
	<string>G7(9,♭13)b</string>
	<string>G7(#9,♭13)b</string>
	<string>G7(♭9,13)b</string>
	<string>G7(♭9,♭13)b</string>
	<string>Gm7-5</string>
	<string>Gm7-5b</string>
	<string>G6</string>
	<string>G6c</string>
	<string>Gm6</string>
	<string>Gm6f</string>
	<string>Gm6e</string>
	<string>Gmmaj7</string>
	<string>Gmmaj7b</string>
	<string>Gmmaj7e</string>
	<string>Gdim</string>
	<string>Gaug</string>
	<string>Gsus4</string>
	<string>G7sus4</string>
	<string>Gadd9</string>
	<string>Gadd9b</string>
	<string>Gmaj7</string>
	<string>Am7</string>
	<string>Bm7</string>
	<string>Cmaj7</string>
	<string>D7</string>
	<string>Em7</string>
	<string>Gsus4</string>
	<string>C7</string>
	<string>E7</string>
	<string>F#7</string>
	<string>Gmaj7c</string>
	<string>Gmaj7e</string>
	<string>Gmaj7f</string>
	<string>Gmaj7k</string>
	<string>Gmaj7(9)</string>
	<string>GonD</string>
	<string>Gm7b</string>
	<string>Gm7c</string>
	<string>Gm7k</string>
	<string>Gm7e</string>
	<string>Gm7(11)</string>
	<string>Gm7onD</string>
	<string>G7p</string>
	<string>G7q</string>
	<string>G7e</string>
	<string>G7(9)c</string>
	<string>G7(#11)</string>
	<string>G7(#9)b</string>
	<string>G7(♭9)b</string>
	<string>G7(13)b</string>
	<string>G7(♭13)b</string>
	<string>G7(9,13)b</string>
	<string>G7(9,♭13)</string>
	<string>G7(#9,♭13)</string>
	<string>G7(♭9,13)</string>
	<string>G7(♭9,♭13)</string>
	<string>Gm7-5(♭13)</string>
	<string>Gm7-5c</string>
	<string>G6b</string>
	<string>G6e</string>
	<string>Gm6c</string>
	<string>Gm6b</string>
	<string>Gmmaj7c</string>
	<string>Gmmaj7(9)</string>
	<string>Gmmaj7(9)b</string>
	<string>Gmmaj7(11)</string>
	<string>Gdimb</string>
	<string>Gaugb</string>
	<string>Gsus4b</string>
	<string>G7sus4b</string>
	<string>Gadd9c</string>
	<string>Gmadd9</string>
	<string>Gm</string>
	<string>Am7-5</string>
	<string>B♭</string>
	<string>Cm</string>
	<string>Dm</string>
	<string>E♭</string>
	<string>F</string>
	<string>G6</string>
	<string>C6</string>
	<string>A♭7</string>
	<string>Gmaj7(9,#11)</string>
	<string>Gmaj7(13)</string>
	<string>Gmaj7(9,13)</string>
	<string>Gmaj7(9,13)b</string>
	<string> </string>
	<string> </string>
	<string>Gm7(9)</string>
	<string>Gm7(9)b</string>
	<string>Gm7(9)c</string>
	<string>Gm7(9)e</string>
	<string>Gm7(9,11)</string>
	<string>Gm7onC</string>
	<string>G7f</string>
	<string>G7v</string>
	<string>G7k</string>
	<string>G7(9)e</string>
	<string>G7(#11)b</string>
	<string>G7(#9)c</string>
	<string>G7(♭9)c</string>
	<string>G7(13)c</string>
	<string>G7(♭13)c</string>
	<string>G7(9,#11)</string>
	<string>G7(#9,13)</string>
	<string>G7(#9,13)b</string>
	<string>G7(#9,#11)</string>
	<string>G7(♭9,#11)b</string>
	<string>G7(♭9,#11)</string>
	<string>Gm7-5(11)</string>
	<string>G6f</string>
	<string>G6(9)</string>
	<string>G6(9,#11)</string>
	<string>Gm6(9)</string>
	<string>Gm6(9)b</string>
	<string>Gmmaj7(11)b</string>
	<string>Gmmaj7(11)c</string>
	<string>Gmmaj7(9,11)</string>
	<string>Gdimc</string>
	<string>Gaugc</string>
	<string>Gsus4c</string>
	<string>G7sus4c</string>
	<string>Gadd9e</string>
	<string>Gmadd9b</string>
</array>
</plist>
