<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>G♭</string>
	<string>A♭m</string>
	<string>B♭m</string>
	<string>B</string>
	<string>D♭</string>
	<string>E♭m</string>
	<string>Fm7-5</string>
	<string>G♭7</string>
	<string>A♭7</string>
	<string>B♭7</string>
	<string>G♭</string>
	<string>G♭b</string>
	<string>G♭c</string>
	<string>G♭maj7</string>
	<string>G♭maj7b</string>
	<string>G♭onB♭</string>
	<string>G♭m</string>
	<string>G♭mb</string>
	<string>G♭m7f</string>
	<string>G♭me</string>
	<string>G♭m7</string>
	<string>G♭m7onE</string>
	<string>G♭7</string>
	<string>G♭7b</string>
	<string>G♭7c</string>
	<string>G♭7(9)</string>
	<string>G♭7(9)b</string>
	<string>G♭7(#9)</string>
	<string>G♭7(♭9)</string>
	<string>G♭7(13)</string>
	<string>G♭7(♭13)</string>
	<string>G♭7(9,13)</string>
	<string>G♭7(9,♭13)b</string>
	<string>G♭7(#9,♭13)b</string>
	<string>G♭7(♭9,13)b</string>
	<string>G♭7(♭9,♭13)b</string>
	<string>G♭m7-5</string>
	<string>G♭m7-5b</string>
	<string>G♭6</string>
	<string>G♭6c</string>
	<string>G♭m6</string>
	<string>G♭m6f</string>
	<string>G♭m6e</string>
	<string>G♭mmaj7</string>
	<string>G♭mmaj7b</string>
	<string>G♭mmaj7e</string>
	<string>G♭dim</string>
	<string>G♭aug</string>
	<string>G♭sus4</string>
	<string>G♭7sus4</string>
	<string>G♭add9</string>
	<string>G♭add9b</string>
	<string>G♭maj7</string>
	<string>A♭m7</string>
	<string>B♭m7</string>
	<string>Bmaj7</string>
	<string>D♭7</string>
	<string>E♭m7</string>
	<string>G♭sus4</string>
	<string>B7</string>
	<string>E♭7</string>
	<string>F7</string>
	<string>G♭maj7c</string>
	<string>G♭maj7e</string>
	<string>G♭maj7f</string>
	<string>G♭maj7k</string>
	<string>G♭maj7(9)</string>
	<string>G♭onD♭</string>
	<string>G♭m7b</string>
	<string>G♭m7c</string>
	<string>G♭m7k</string>
	<string>G♭m7e</string>
	<string>G♭m7(11)</string>
	<string>G♭m7onD♭</string>
	<string>G♭7p</string>
	<string>G♭7q</string>
	<string>G♭7e</string>
	<string>G♭7(9)c</string>
	<string>G♭7(#11)</string>
	<string>G♭7(#9)b</string>
	<string>G♭7(♭9)b</string>
	<string>G♭7(13)b</string>
	<string>G♭7(♭13)b</string>
	<string>G♭7(9,13)b</string>
	<string>G♭7(9,♭13)</string>
	<string>G♭7(#9,♭13)</string>
	<string>G♭7(♭9,13)</string>
	<string>G♭7(♭9,♭13)</string>
	<string>G♭m7-5(♭13)</string>
	<string>G♭m7-5c</string>
	<string>G♭6b</string>
	<string>G♭6e</string>
	<string>G♭m6c</string>
	<string>G♭m6b</string>
	<string>G♭mmaj7c</string>
	<string>G♭mmaj7(9)</string>
	<string>G♭mmaj7(9)b</string>
	<string>G♭mmaj7(11)</string>
	<string>G♭dimb</string>
	<string>G♭augb</string>
	<string>G♭sus4b</string>
	<string>G♭7sus4b</string>
	<string>G♭add9c</string>
	<string>G♭madd9</string>
	<string>G♭m</string>
	<string>A♭m7-5</string>
	<string>A</string>
	<string>Bm</string>
	<string>D♭m</string>
	<string>D</string>
	<string>E</string>
	<string>G♭6</string>
	<string>B6</string>
	<string>G7</string>
	<string>G♭maj7(9,#11)</string>
	<string>G♭maj7(13)</string>
	<string>G♭maj7(9,13)b</string>
	<string>G♭maj7(9,13)</string>
	<string> </string>
	<string> </string>
	<string>G♭m7(9)</string>
	<string>G♭m7(9)b</string>
	<string>G♭m7(9)c</string>
	<string>G♭m7(9)e</string>
	<string>G♭m7(9,11)</string>
	<string>G♭m7onB</string>
	<string>G♭7f</string>
	<string>G♭7v</string>
	<string>G♭7k</string>
	<string>G♭7(9)e</string>
	<string>G♭7(#11)b</string>
	<string>G♭7(#9)c</string>
	<string>G♭7(♭9)c</string>
	<string>G♭7(13)c</string>
	<string>G♭7(♭13)c</string>
	<string>G♭7(9,#11)</string>
	<string>G♭7(#9,13)</string>
	<string>G♭7(#9,13)b</string>
	<string>G♭7(#9,#11)</string>
	<string>G♭7(♭9,#11)b</string>
	<string>G♭7(♭9,#11)</string>
	<string>G♭m7-5(11)</string>
	<string>G♭6f</string>
	<string>G♭6(9)</string>
	<string>G♭6(9,#11)</string>
	<string>G♭m6(9)</string>
	<string>G♭m6(9)b</string>
	<string>G♭mmaj7(11)b</string>
	<string>G♭mmaj7(11)c</string>
	<string>G♭mmaj7(9,11)</string>
	<string>G♭dimc</string>
	<string>G♭augc</string>
	<string>G♭sus4c</string>
	<string>G♭7sus4c</string>
	<string>G♭add9e</string>
	<string>G♭madd9b</string>
</array>
</plist>
